!!! 5
html(lang="ja")

  head
    title= pageTitle
    script(type='typetext/javascript', src=url_for('static', filename='js/main.js'))
    link(type='text/css', rel='stylesheet', href=url_for('static', filename='css/style.css'))

  body
    #navbar
      ul
        li HOME
        li.yamada YAMADA
        
    h1.title Jade - node template engine
    #container
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!

    #sidebar
      h3 sitebar
      ul
        li MENU
    #footer
      p 2012 copyright(c) Daisuke Igarashi.
