<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>index</title>
  </head>
  <body>
	<div>
		{% if is_loggedin %}
		{{ user_name }} <a href="{{ url_for('logout_fb') }}">logout</a>
		{% else %}
		<a href="{{ url_for('connect_fb') }}">connect with facebook</a>
		{% endif %}
	</div>

	<h2>Menu</h2>
	<div>
		<ul>
			<li><a href="{{ url_for('list_note') }}">show note</a></li>
			<li><a href="{{ url_for('add_note') }}">add note</a></li>
			<li></li>
		</ul>
	</div>

{% if profile %}
	<h2>profile</h2>
	<div>
		<ul>
			<li>name: {{ profile.name }}</li>
			<li>first_name: {{ profile.first_name }}</li>
			<li>last_name: {{ profile.last_name }}</li>
			<li>link: {{ profile.link }}</li>
			<li>location: {{ profile.location.name }}</li>
			<li>work: {{ profile.work.name }}</li>
			<li>gender: {{ profile.gender }}</li>
			<li>email: {{ profile.email }}</li>
		</ul>   
	</div>
{% endif %}

{% if friends %}
	<h2>friends</h2>
	<div>
		<ul>
			{% for friend in friends.data %}
			<li><a href="https://www.facebook.com/{{ friend.id }}"><img src="https://graph.facebook.com/{{ friend.id }}/picture"/>{{ friend.name }}</a></li>
			{% endfor %}
		</ul>   
	</div>
{% endif %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/ja_JP/all.js"></script>
    <script>
      // initialize the library with the API key
      FB.init({ apiKey: '115583065169378' });

      // fetch the status on load
      FB.getLoginStatus(handleSessionResponse);

      $('#login').bind('click', function() {
        FB.login(handleSessionResponse);
      });

      $('#logout').bind('click', function() {
        FB.logout(handleSessionResponse);
      });

      $('#disconnect').bind('click', function() {
        FB.api({ method: 'Auth.revokeAuthorization' }, function(response) {
          clearDisplay();
        });
      });

      // no user, clear display
      function clearDisplay() {
        $('#user-info').hide('fast');
      }

      // handle a session response from any of the auth related calls
      function handleSessionResponse(response) {
        // if we dont have a session, just hide the user info
        if (!response.session) {
          clearDisplay();
          return;
        }

        // if we have a session, query for the user's profile picture and name
        FB.api(
          {
            method: 'fql.query',
            query: 'SELECT name, pic FROM profile WHERE id=' + FB.getSession().uid
          },
          function(response) {
            var user = response[0];
            $('#user-info').html('<img src="' + user.pic + '">' + user.name).show('fast');
          }
        );
      }
    </script>
  </body>
</html>

